{% extends base_layout %}

{% block header_title %}


{% endblock %}

{% block content %}


<table class="table table-bordered table-condensed">
    <thead>
    <tr>
    <th>Container</th>
    <th>ppecbcode</th>
    <th>Vent</th>
    <th>SetPoint</th>
    </tr>
    </thead>
    <tbody>

<tr>
{% for s in range(33, y["rows"], 2) %}
<td>{{y["container"][s]}}</td>
<td>{{y["container"]["ppecbcode"][s]}}</td>
<td>{{y["container"]["vent"][s]}}</td>
<td>{{y["container"]["setpoint"][s]}}</td>
<td><a href=/readingslist/{{y["filekey"]}}/{{y["sheet_name"]}}/{{s}}>NEXT</a></td>
</tr>
{% endfor %}
  
    </tbody>
    </table>

    <table>
        <tr>
        <td>
            Mobile:
            <span class="label {% if is_mobile %}label-success{% endif %}">{{ is_mobile }}</span>
        </td>
        </tr>
    </table>


        <hr/>

    <p><a href="{{ logout_url }}" class="btn btn-primary">{% trans %}Logout{% endtrans %}</a></p>


{% endblock %}
