{% extends base_layout %}

{% block header_title %}


{% endblock %}

{% block content %}

{{list_data["count"]}}

Filenames:

<table class="table table-bordered table-condensed">
    <thead>
    <tr bgcolor="#808080">
    <th>File name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    </thead>
    <tbody>

<tr>
{% for s in range(0, list_data["count"]) %}
<td>{{list_data["filename"][s]}}</td>
<td><a href=/vessellist/{{list_data["key"][s]}}><i class="icon-large icon-search icon-red"></i></a></td>
</tr>
{% endfor %}
  
    </tbody>
    </table>

    <table>
        <tr>
        <td>
            Mobile:
            <span class="label {% if is_mobile %}label-success{% endif %}">{{ is_mobile }}</span>
        </td>
        </tr>
    </table>


        <hr/>

    <p><a href="{{ logout_url }}" class="btn btn-primary">{% trans %}Logout{% endtrans %}</a></p>


{% endblock %}
