{% extends base_layout %}

{% block header_title %}
    {% trans %}Reefer status list demo{% endtrans %}
{% endblock %}

{% block content %}


<form action="{{ upload_url }}" enctype="multipart/form-data" method="post">  
<input type="file" name="file"><br> <input type="submit"  name="submit" value="Submit"> 
</form>


<a href="/filelist/">File list</a>

    <table>
        <tr>
        <td>
            Mobile:
            <span class="label {% if is_mobile %}label-success{% endif %}">{{ is_mobile }}</span>
        </td>
        </tr>
    </table>

        <hr/>

    <p><a href="{{ logout_url }}" class="btn btn-primary">{% trans %}Logout{% endtrans %}</a></p>


{% endblock %}
